.home {
  display: flex;
  flex-direction: column;
  padding-block: 150px;
  gap: 2rem;
  padding-inline: 4rem;
}

@media only screen and (min-width: 1000px) {
  .home {
    flex-direction: row-reverse;
    gap: 4rem;
  }
}
